body {
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1 1 20%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

img {
  max-width: 80%;
  height: 15rem;
  object-fit: contain;
  margin-bottom: 10px;
}

.title {
  overflow: hidden;
  line-height: 1.2;
  height: 2.4em;
  font-size: 16px;
  margin: 10px 0;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.price {
  color: #007bff;
  font-weight: bold;
  margin: 5px 0;
}

.description {
  max-height: 8rem;
  overflow-y: auto;
  font-size: 14px;
  text-align: left;
}
